.header {
  background-color: #bbbbbb;
  padding: 20px 0;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.navigation {
  position: absolute;
  top: 100px;
  right: 0;
}

.navigation .navigation__list .list__item {
  display: inline;
  margin-left: 15px;
}

.navigation .navigation__list .list__item .item__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}
